body{
    font-family: "CapieN Medium";
}

.header{
    background-color: #b6ffce;;
    height: 150px;
    width: 1920px;
}

*{
    margin: 0;
    padding: 0;
}

.main{
    background-color: #b6ffce;
    height: 3000px;
    width: 1920px;
}

.footer{
    background-color: #84dfa3;
    height: 150px;
    width: 1920px;
}
